.card {
    display: flex;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    margin-bottom: 20px;

    .poster {
        border-radius: 10px 0px 0px 10px;

    }

    .details {
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        .date {
        }
      }
    }
  }