.wrapper{
    width: 77% ;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    .title{
        margin: 10px;
    }
    .content{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }
}
.seeMore{
    min-width: 130px;
    line-height: 255px;
}